# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

userv1/build/*
userv2/build/*
userv1/userv1/*
userv2/userv2/*
dpdk_daemon/build/*
dpdk_daemon/dpdk_daemon/*

